[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "azlogr"]
	path = azlogr
	url = https://github.com/atalv/azlogr
	shallow = true
	registered = true
